@import 'tailwindcss';

@theme{
    
    /* background */
    --color-bgPrimary:white;
    --color-bgSecondary:black;
    --color-hover:#f5f5f8;
    --color-active:#1A1A19;
    /* background */

    /* fonts */
    --font-primary:Roboto,sans-serif;
    --font-secondary:Montserrat,sans-serif;
    --font-extra:'Open Sans',sans-serif;
    /* fonts */

    /* fonts color */
    --color-textPrimary:#2b2a2a;
    --color-textSecondary:#585858;
    --color-textWhite:#f3f3f3;
    /* fonts color */

    /* border colors */
    --color-borderPrimary:#e0e0e0;
    --color-borderSecondary:#f1f1f1;
    --color-borderHover:#d1d1d1;
    /* border colors */
}